:root {
  --main-color: #F3F3F3;
  --sec-color: #FFDD67;
  --sec-color-alt: #FFCD38;
  --tert-color: #4A4A4A;
  --font-color: #4A4A4A;
  --font-color-link: #FFCD38;
  --shadow: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
}

.index {
  background-color: var(--sec-color);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  header {
    max-width: 60vw;
    min-width: 600px;
    text-align: center;
    padding: 1em;
    ul {
      margin: 2em auto;
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--font-color-link);
          background-color: var(--tert-color);
          padding: 1em;
          text-align: center;
          &:hover {
            background-color: var(--shadow);
          }
        }
      }
    }
    @media (width <= 600px) {
      ul {
        height: 10em;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.assignment {
  header {
    height: 6em;
    background-color: var(--tert-color);
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sec-color-alt);
    nav {
      a {
        padding: 1em;
        color: var(--font-color);
        text-decoration: none;
        background-color: var(--sec-color-alt);
      }
    }
  }
  @media (width <= 600px) {
    header {
      padding: 1em;
    }
  }
}

.parallax-page {
  section {
    background-color: var(--sec-color);
    color: var(--font-color);
    text-align: center;
    height: 6em;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.parallax {
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.image-1 {
    background-image: url('halloween.png');
  }
  &.image-2 {
    background-image: url('aceattorney.gif');
  }
  &.video {
    padding-bottom: 100vh;
    video {
      min-width: 100%;
      position: fixed;
      top:0;
      z-index: -999;
    }
  }
}